<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="tokimon.css">
        
    </head>
    
    <body>
        <div id="container">
            
            <div id="header">
                <h1 id="title">T o k i m o n
                <br>
                D a t a b a s e</h1>
                
            </div>
            <div id="content">
                <table>
                    <tr id="title">
                        <th>id</th>
                        <th id="nametable">name</th>
                        <th id="trainertable">trainer</th>
                        <th>weight</th>
                        <th>height</th>
                        <th>fly</th>
                        <th>fight</th>
                        <th>fire</th>
                        <th>water</th>
                        <th>electric</th>
                        <th>ice</th>
                        <th>total</th>
                    </tr>
                    <% rows.forEach((r) => { %> 
                    <tr>
                        <td><%= r.id %></td>
                        <td><%= r.name %></td>
                        <td><%= r.trainername %></td>
                        <td><%= r.weight %></td>
                        <td><%= r.height %></td>
                        <td><%= r.fly %></td>
                        <td><%= r.fight %></td>
                        <td><%= r.fire %></td>
                        <td><%= r.water %></td>
                        <td><%= r.electric %></td>
                        <td><%= r.ice %></td>
                        <td><%= r.total %></td>
                        
                    </tr>
                <% }); %>
                </table> 
            </div>
            <div id="footer"><a href="tokimon.html">> > h o m e < <</a></div>

        </div>
    </body>
</html>
